<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible” content=”IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MIS WebViewer</title>

    <style type="text/css">
        [ng-cloak] {
            display: none;
        }
    </style>
</head>

<body ng-cloak layout="column" ng-controller="layoutController as layout">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="layout.isLeftOpen = !layout.isLeftOpen"><i class="fa fa-bars fa-lg"></i></md-button>
            <span>MIS WebViewer</span>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="layout.isRightOpen = !layout.isRightOpen"><i class="fa fa-ellipsis-v fa-lg"></i></md-button>
        </div>
        <!--<md-tabs md-stretch-tabs="always">
            <md-tab>Tab 1</md-tab>
            <md-tab>Tab 2</md-tab>
            <md-tab>Tab 3</md-tab>
            <md-tab>Tab 4</md-tab>
        </md-tabs>-->
    </md-toolbar>


    <div flex layout="row">

        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="layout.isLeftOpen">

        </md-sidenav>

        <md-content flex layout-padding>
            <div ng-include="'app/admin/views/admin.nodes.html'" layout="column">
            </div>
        </md-content>

        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-is-open="layout.isRightOpen">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span>Settings</span>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="layout.isRightOpen = !layout.isRightOpen"><i class="fa fa-times fa-lg"></i></md-button>
                </div>
            </md-toolbar>
        </md-sidenav>
    </div>

    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script type="text/javascript">
        System
            .import('app/boot')
            .catch(console.error.bind(console));
    </script>
</body>

</html>