<div ng-controller="adminController as admin">
    <div layout="row">
        <div flex>
            <md-toolbar layout="row" class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span flex>Κατηγορίες</span>
                </div>
            </md-toolbar>
            <md-list class="md-dense" flex>
                <md-list-item ng-repeat="node in admin.nodes">
                    <div layout="row">
                        <md-button class="md-icon-button" aria-label="Move Up" ng-click="admin.swap(admin.nodes,$index,$index-1)" ng-disabled="$first">
                            <i class="fa fa-chevron-up" aria-hidden=""></i>
                        </md-button>
                        <md-button ng-click="admin.openSubCategory($index)">
                            {{ node.Title }}
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Move Down" ng-click="admin.swap(admin.nodes,$index,$index+1)" ng-disabled="$last">
                            <i class="fa fa-chevron-down" aria-hidden=""></i>
                        </md-button>
                    </div>
                    <!--<md-content layout="row" ng-show="toggle[$index]">
                        <span>sdadassd </span>
                    </md-content>-->
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <div layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                    <md-input-container style="padding-bottom:0px !important;">
                        <label>Νεά κατηγορία</label>
                        <input ng-model="user.title">
                    </md-input-container>
                    <md-input>
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="admin.overviewShow" class="md-primary">
                            <label>Αρχική</label>
                        </md-checkbox>
                    </md-input>
                    <md-button md-no-ink class="md-raised md-primary">color picker</md-button>

                </div>
                <md-button class="md-fab md-mini" aria-label="Use Android" style="background-color:black">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </div>
            <md-divider></md-divider>
        </div>
        <div flex>
            <md-toolbar layout="row" class="md-primary md-hue-2">
                <div class="md-toolbar-tools">
                    <span flex>Υποκατηγορία 1</span>
                </div>
            </md-toolbar>
            <md-list class="md-dense" flex>
                <md-list-item ng-repeat="node in admin.nodes[admin.selected].Children">
                    <div layout="row">
                        <md-button class="md-icon-button" aria-label="Move Up" ng-click="admin.swap(admin.nodes[admin.selected].Children,$index,$index-1)" ng-disabled="$first">
                            <i class="fa fa-chevron-up" aria-hidden=""></i>
                        </md-button>
                        <md-button ng-click="admin.subSelected=$index" flex>
                            {{ node.Title }}
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Move Down" ng-click="admin.swap(admin.nodes[admin.selected].Children,$index,$index+1)" ng-disabled="$last">
                            <i class="fa fa-chevron-down" aria-hidden=""></i>
                        </md-button>
                    </div>
                    <md-content layout="row" ng-show="toggle[$index]">
                        <span>sdadassd </span>
                    </md-content>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
            <div layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                    <md-input-container style="padding-bottom:0px !important;">
                        <label>Νεά κατηγορία</label>
                        <input ng-model="user.title">
                    </md-input-container>
                    <md-input>
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="admin.overviewShow" class="md-primary">
                            <label>Αρχική</label>
                        </md-checkbox>
                    </md-input>
                    <md-button md-no-ink class="md-raised md-primary">color picker</md-button>

                </div>
                <md-button class="md-fab md-mini" aria-label="Use Android" style="background-color:black">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </div>
        </div>
        <div flex>
            <md-toolbar layout="row" class="md-primary md-hue-2">
                <div class="md-toolbar-tools">
                    <span flex>Υποκατηγορία 2</span>
                </div>
            </md-toolbar>
            <md-list class="md-dense" flex>
                <md-list-item ng-repeat="node in admin.nodes[admin.selected].Children[admin.subSelected].Children">
                    <div layout="row">
                        <md-button class="md-icon-button" aria-label="Move Up" ng-click="admin.swap(admin.nodes[admin.selected].Children[admin.subSelected].Children,$index,$index-1)" ng-disabled="$first">
                            <i class="fa fa-chevron-up" aria-hidden=""></i>
                        </md-button>
                        <md-button>
                            {{ node.Title }}
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Move Down" 
                        ng-click="admin.swap(admin.nodes[admin.selected].Children[admin.subSelected].Children,$index,$index+1)" ng-disabled="$last">
                            <i class="fa fa-chevron-down" aria-hidden=""></i>
                        </md-button>
                    </div>
                    <!--<md-content layout="row" ng-show="toggle[$index]">
                        <span>sdadassd </span>
                    </md-content>-->
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
            <div layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                    <md-input-container style="padding-bottom:0px !important;">
                        <label>Νεά κατηγορία</label>
                        <input ng-model="user.title">
                    </md-input-container>
                    <md-input>
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="admin.overviewShow" class="md-primary">
                            <label>Αρχική</label>
                        </md-checkbox>
                    </md-input>
                    <md-button md-no-ink class="md-raised md-primary">color picker</md-button>

                </div>
                <md-button class="md-fab md-mini" aria-label="Use Android" style="background-color:black">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </div>
        </div>
    </div>
</div>