<div ng-controller="adminController as admin">
    <div layout="row">
        <div flex>
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Κατηγορίες</span>
                </div>
            </md-toolbar>
            <md-list class="md-dense" flex>
                <md-list-item ng-repeat="node in admin.nodes">
                    <md-button class="md-icon-button" aria-label="Move Up" ng-click="admin.swap(admin.nodes,$index,$index-1)" ng-disabled="$first">
                        <i class="fa fa-chevron-up" aria-hidden=""></i>
                    </md-button>
                    <div layout="column" flex ng-class="{'md-hue-3': admin.CategorySelected==$index}" class="red">
                        <md-button ng-click="admin.openSubCategory($index)">
                            {{ node.Title }}
                        </md-button>
                    </div>
                    <md-button class="md-icon-button" aria-label="Move Down" ng-click="admin.swap(admin.nodes,$index,$index+1)" ng-disabled="$last">
                        <i class="fa fa-chevron-down" aria-hidden=""></i>
                    </md-button>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-button class="md-fab md-primary md-hue-2 md-mini" aria-label="add" ng-click="admin.addCategory=!admin.addCategory" ng-show="admin.addCategory">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </md-button>
            <div ng-show="!admin.addCategory">
                <md-card md-theme="" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Εισαγωγή Κατηγορίας</span>
                            <md-input-container>
                                <label>Κατηγορία</label>
                                <input ng-model="admin.category" required md-maxlength="30" minlength="5">
                                <div ng-messages="userForm.lastName.$error">
                                    <!--<div ng-message="required">Υποχρεωτικό πεδίο</div>
                                    <div ng-message="md-maxlength">Πολύ μεγάλος τίτλος</div>
                                    <div ng-message="minlength">Πολύ μικρός τίτλος</div>-->
                                </div>
                            </md-input-container>
                            <div layout="row">
                                <md-checkbox class="md-primary" ng-model="admin.overviewShow" aria-label="overviewShow">
                                    Αρχική
                                </md-checkbox>
                                <md-checkbox class="md-primary" ng-model="admin.overviewShow" aria-label="overviewShow">
                                    Επιλογή Χρώματος
                                </md-checkbox>
                            </div>
                            <md-card-actions layout="row" layout-align="end">
                                <md-button class="md-raised md-primary" ng-click="admin.addCategory=!admind.addCategory">Εισαγωγή</md-button>
                            </md-card-actions>
                        </md-card-title-text>
                    </md-card-title>
            </div>
        </div>
        <div flex>
            <md-toolbar class="md-primary md-hue-2">
                <div class="md-toolbar-tools">
                    <span>Υποκατηγορία 1</span>
                    <span>: {{admin.nodes[admin.selected].Title}}</span>
                </div>
            </md-toolbar>
            <md-list class="md-dense" flex>
                <md-list-item ng-repeat="node in admin.nodes[admin.selected].Children">
                    <md-button class="md-icon-button" aria-label="Move Up" ng-click="admin.swap(admin.nodes[admin.selected].Children,$index,$index-1)"
                        ng-disabled="$first">
                        <i class="fa fa-chevron-up" aria-hidden=""></i>
                    </md-button>
                    <div layout="column" flex>
                        <md-button ng-click="admin.subSelected=$index" flex>
                            {{ node.Title }}
                        </md-button>
                    </div>
                    <md-button class="md-icon-button" aria-label="Move Down" ng-click="admin.swap(admin.nodes[admin.selected].Children,$index,$index+1)"
                        ng-disabled="$last">
                        <i class="fa fa-chevron-down" aria-hidden=""></i>
                    </md-button>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-button class="md-fab md-primary md-hue-2 md-mini" aria-label="add" ng-click="admin.addSubCategory1=!admin.addSubCategory1"
                ng-show="admin.addSubCategory1">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </md-button>
            <div ng-show="!admin.addSubCategory1">
                <md-card md-theme="" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Εισαγωγή Κατηγορίας</span>
                            <md-input-container>
                                <label>Κατηγορία</label>
                                <input ng-model="admin.category" required md-maxlength="30" minlength="5">
                                <div ng-messages="userForm.lastName.$error">
                                    <!--<div ng-message="required">Υποχρεωτικό πεδίο</div>
                                    <div ng-message="md-maxlength">Πολύ μεγάλος τίτλος</div>
                                    <div ng-message="minlength">Πολύ μικρός τίτλος</div>-->
                                </div>
                            </md-input-container>
                            <div layout="row">
                                <md-checkbox class="md-primary" ng-model="admin.overviewShow" aria-label="overviewShow">
                                    Αρχική
                                </md-checkbox>
                            </div>
                            <md-card-actions layout="row" layout-align="end">
                                <md-button class="md-raised md-primary" ng-click="admin.addSubCategory1=!admin.addSubCategory1">Εισαγωγή</md-button>
                            </md-card-actions>
                        </md-card-title-text>
                    </md-card-title>
            </div>
        </div>
        <div flex>
            <md-toolbar class="md-primary md-hue-2">
                <div class="md-toolbar-tools">
                    <span>Υποκατηγορία 2 </span>
                    <span>:{{admin.nodes[admin.selected].Children[admin.subSelected].Title}}</span>
                </div>
            </md-toolbar>
            <md-list class="md-dense" flex>
                <md-list-item ng-repeat="node in admin.nodes[admin.selected].Children[admin.subSelected].Children">
                    <md-button class="md-icon-button" aria-label="Move Down" ng-click="admin.swap(admin.nodes[admin.selected].Children[admin.subSelected].Children,$index,$index+1)"
                        ng-disabled="$last">
                        <i class="fa fa-chevron-down" aria-hidden=""></i>
                    </md-button>
                    <div layout="column" flex>
                        <md-button>
                            {{ node.Title }}
                        </md-button>
                    </div>
                    <md-button class="md-icon-button" aria-label="Move Down" ng-click="admin.swap(admin.nodes[admin.selected].Children[admin.subSelected].Children,$index,$index+1)"
                        ng-disabled="$last">
                        <i class="fa fa-chevron-down" aria-hidden=""></i>
                    </md-button>
                    <!--<md-content layout="row" ng-show="toggle[$index]">
                        <span>sdadassd </span>
                    </md-content>-->
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-button class="md-fab md-primary md-hue-2 md-mini" aria-label="add" ng-click="admin.addSubCategory2=!admin.addSubCategory2"
                ng-show="admin.addSubCategory2">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </md-button>
            <div ng-show="!admin.addSubCategory2">
                <md-card md-theme="" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Εισαγωγή Κατηγορίας</span>
                            <md-input-container>
                                <label>Κατηγορία</label>
                                <input ng-model="admin.category" required md-maxlength="30" minlength="5">
                                <div ng-messages="userForm.lastName.$error">
                                    <!--<div ng-message="required">Υποχρεωτικό πεδίο</div>
                                    <div ng-message="md-maxlength">Πολύ μεγάλος τίτλος</div>
                                    <div ng-message="minlength">Πολύ μικρός τίτλος</div>-->
                                </div>
                            </md-input-container>
                            <div layout="row">
                                <md-checkbox class="md-primary" ng-model="admin.overviewShow" aria-label="overviewShow">
                                    Αρχική
                                </md-checkbox>
                            </div>
                            <md-card-actions layout="row" layout-align="end">
                                <md-button class="md-raised md-primary" ng-click="admin.addSubCategory2=!admin.addSubCategory2">Εισαγωγή</md-button>
                            </md-card-actions>
                        </md-card-title-text>
                    </md-card-title>
            </div>
        </div>
    </div>
</div>