<div ng-controller="adminController as admin" ng-cloak>
    <md-card md-theme-watch flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Εισαγωγή Κυλιόμενου Τίτλου</span>
                <md-input-container>
                    <label>Banner</label>
                    <input required minlength="5">
                </md-input-container>
                <span class="md-title">Ιστορικό Τίτλων</span>
                <md-list>
                    <md-list-item ng-repeat="node in admin.banner"  flex>
                        <md-checkbox class="md-primary" ng-model="node.visible" aria-label="visible" flex ng-click="admin.activeBanner(node.Id)">
                            {{ node.Description }}
                        </md-checkbox>
                    </md-list-item>
                </md-list>
                <md-card-actions layout="row" layout-align="end">
                    <md-button class="md-raised md-primary">Αποθήκευση</md-button>
                </md-card-actions>
            </md-card-title-text>
        </md-card-title>
</div>