<div ng-controller="rolesController as admin">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools" layout-align="space-between center">
            <span>Ρόλοι Χρηστών</span>
        </div>
    </md-toolbar>
    <div layout="row">
        <md-card md-theme-watch flex="20">
            <div layout="row" layout-align="space-between center" style="padding:10px 10px 5px">
                <label>Ρόλοι</label>
                <md-button class=" md-fab md-mini md-primary " ng-click="admin.addGroup();admin.editOn=!admin.editOn" ng-disabled="admin.editOn"
                    title="Προσθήκη Νέας Κατηγορίας"><i class="fa fa-plus " aria-hidden="true"></i></md-button>
            </div>
            <md-divider></md-divider>
            <md-list class="md-dense " flex>
                <md-list-item class="md-2-line " ng-repeat="node in admin.nodeRights " ng-click="admin.nodeSelected=$index
                " ng-disabled="admin.editOn" ng-style="{ 'background-color':admin.nodeSelected==$index ? 'rgb(140,158,255)':null} ">
                    <i class="fa fa-users fa-2x md-avatar " aria-hidden="true "></i>
                    <div class="md-list-item-text " layout="column ">
                        <h3>{{ node.Title }}</h3>
                        <h4>{{ node.Description }}</h4>
                    </div>
                </md-list-item>
            </md-list>
        </md-card>
        <md-card md-theme-watch ng-hide="admin.nodeSelected==null" layout-padding layout="row" flex>
            <div flex="30">
                <md-toolbar layout-align="center" style="padding-left:10px">
                    <label> Διαχείριση Ρόλων : {{admin.nodeRights[admin.nodeSelected].Title}}</label>
                </md-toolbar>
                <md-divider></md-divider>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Όνομα Ρόλου</label>
                    <input ng-model="admin.nodeRights[admin.nodeSelected].Title" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Περιγραφή</label>
                    <input ng-model="admin.nodeRights[admin.nodeSelected].Description">
                </md-input-container>
                <md-button class=" md-raised md-primary" ng-disabled="admin.addright" ng-click="admin.save()" title="Προσθήκη Νέας Κατηγορίας">Αποθήκευση</i>
                </md-button>
            </div>
            <div flex>
                <md-toolbar>
                    <div layout="row" layout-align="space-between center" style="padding:5px 5px 0px 5px">
                        <label>Διαχείριση Δικαιωμάτων</label>
                        <md-button class=" md-fab md-mini md-primary md-hue-3" ng-click="admin.addright=!admin.addright;admin.editOn=!admin.editOn" ng-hide="admin.addright"
                            title="Προσθήκη Νέας Κατηγορίας"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></md-button>
                        <md-button class=" md-fab md-mini md-primary md-hue-3" ng-click="admin.cancelAddCategory()" ng-show="admin.addright" title="Προσθήκη Νέας Κατηγορίας"><i class="fa fa-times fa-lg" aria-hidden="true"></i></md-button>
                    </div>
                </md-toolbar>
                <div layout="row" layout-align="space-between center" ng-show="admin.addright">
                    <md-input-container flex="40">
                        <label>Κατηγορία</label>
                        <md-select ng-model="admin.newRight.Title">
                            <md-option ng-repeat-start="node in admin.nodes" value="{{node.Title}}">{{node.Title}}</md-option>
                            <md-option ng-repeat-end ng-repeat="item in node.Children" value="{{item.Title}}">{{item.Title}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-checkbox class="md-primary" ng-model="admin.newRight.Edit" title="Επεξεργασία">Επεξεργασία</md-checkbox>
                        <md-checkbox class="md-primary" ng-model="admin.newRight.View" title="Προβολή">Προβολή</md-checkbox>
                        <md-button class="md-primary md-hue-3" ng-click="admin.pushRight()" title="Προσθήκη">Αποθήκευση</md-button>
                    </md-input-container>
                </div>
                <md-list>
                    <mid-list-item>
                        <md-subheader class="md-no-sticky">Δικαιώματα</md-subheader>
                        <md-list-item ng-repeat="item in admin.nodeRights[admin.nodeSelected].Rights" ng-show="admin.nodeRights[admin.nodeSelected].Rights.length> 0">
                            <p>{{ item.Title }}</p>
                            <div style="padding-top:20px;">
                                <md-checkbox class="md-primary" ng-model="item.Edit" title="Επεξεργασία">Επεξεργασία</md-checkbox>
                                <md-checkbox class="md-primary" ng-model="item.View" title="Προβολή">Προβολή</md-checkbox>
                                <md-button class="md-raised md-warn" style="min-width:30px!important;"><b>x</b></md-button>
                        </md-list-item>
                </md-list>
                </div>

        </md-card>
        </div>
    </div>