<div ng-repeat="node in layout.nodes">
    <md-toolbar class="md-toolbar-tools" class="md-hue-2" style="min-height: 50px !important; height: 50px !important;padding:0px; background-color: rgb({{node.Color.Red}},{{node.Color.Green}},{{node.Color.Blue}}) ">
        <md-list-item aria-label="{{node.Title}}" ng-click="layout.$state.go('nodes.detail', { id: node.Id })" flex>
            <div layout="row" layout-align="space-between center " flex>
                <div layout="row " layout-align="start none ">
                    <strong> {{node.Title}}</strong>
                </div>
                <md-button class="md-icon-button" aria-label="s" ng-click="toggle[$index] = !toggle[$index]">
                    <i class="fa fa-lg" ng-class="{'fa-toggle-off': toggle[$index], 'fa-toggle-on': !toggle[$index]}"></i>
                </md-button>
            </div>
        </md-list-item>

    </md-toolbar>
    <md-content ng-show="!toggle[$index]">
        <md-subheader ng-repeat-start="child in node.Children" class="md-warn">
                <md-list-item  aria-label="{{child.Title}}" ng-click="layout.$state.go('nodes.detail', { id: child.Id })" flex>
                    <div layout="row" layout-align="space-between center " flex>
                        <span><strong>{{child.Title}}</strong></span>
                        <md-button class="md-icon-button" aria-label="Toggle" ng-click="toggleC[$index] = !toggleC[$index]" ng-show="child.Children.length > 0">
                            <i class="fa fa-lg" ng-class="{'fa-toggle-off': toggleC[$index], 'fa-toggle-on': !toggleC[$index]}"></i>
                        </md-button>
                    </div>
                </md-list-item>
        </md-subheader>
        <md-list ng-show="!toggleC[$index]">
            <div ng-repeat="grandChild in child.Children">
                <md-list-item aria-label="" ng-click="layout.$state.go('nodes.detail', { id: grandChild.Id })">
                    <span>{{grandChild.Title}}</span>
                </md-list-item>
            </div>
        </md-list>
        <span ng-repeat-end></span>
    </md-content>

</div>