<div ng-repeat="node in layout.nodes">
    <md-toolbar class="md-hue-2"
                style="min-height: 50px !important; height: 50px !important; background-color: rgb({{node.Color.Red}},{{node.Color.Green}},{{node.Color.Blue}}) ">
        <div class="md-toolbar-tools">
            <md-button aria-label="{{node.Title}}" ng-click="layout.$state.go('nodes.detail', { id: node.Id })">
                <span><strong>{{node.Title}}</strong></span>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="s" ng-click="toggle[$index] = !toggle[$index]">
                <i class="fa fa-lg" ng-class="{'fa-toggle-off': toggle[$index], 'fa-toggle-on': !toggle[$index]}"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-show="!toggle[$index]">
        <md-subheader ng-repeat-start="child in node.Children">
            <md-button class="md-warn" aria-label="{{child.Title}}" ng-click="layout.$state.go('nodes.detail', { id: child.Id })">
                <span><strong>{{child.Title}}</strong></span>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Toggle" ng-click="toggleC[$index] = !toggleC[$index]" ng-show="child.Children.length > 0">
                <i class="fa fa-lg" ng-class="{'fa-toggle-off': toggleC[$index], 'fa-toggle-on': !toggleC[$index]}"></i>
            </md-button>
        </md-subheader>
        <md-list ng-show="!toggleC[$index]">
            <md-list-item ng-repeat="grandChild in child.Children">
                <md-button aria-label="" ng-click="layout.$state.go('nodes.detail', { id: grandChild.Id })">
                    <span>{{grandChild.Title}}</span>
                </md-button>
            </md-list-item>
        </md-list>
        <span ng-repeat-end></span>
    </md-content>
</div>