<div layout="column">

    <div flex>
        <md-button ngf-select="library.upload($file)">Upload</md-button>
    </div>

    <div flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Files</span>
            </div>
        </md-toolbar>

        <md-content>
            <md-list>
                <md-list-item ng-repeat="file in library.files">
                    <div class="md-list-item-text">{{file.lfDataUrl}}</div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>